@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    letter-spacing: 2px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
    color: #000;
}
.navbar-brand:hover{
    color: #fff !important;
}
.navbar{
    box-shadow: 0 0 3px black;
    background-color: rgb(230, 126, 34);
    transition: 0.5s;
    z-index: 100;
}
.nav-link:hover{
    color: #fff !important;
}
.nav-item .nav-link{
    letter-spacing: 2px;
    color: #000;
}
#main{
    position: relative;
}
#cart{
    position: absolute;
    top: 9px;
    right: 30px;
    color: #fff;
    font-size: 20px;
    color: #000 !important;
}
#cart-count{
    position: absolute;
    font-size: 10px;
    top: 0;
}
#cart:hover{
    color: #fff !important;
}
.dropdown-menu{
    border: none;
    background-color: rgb(238, 144, 61);
    border-radius: 0;
}
#prodect-title{
    color: rgb(230, 126, 34) !important;
}
#prodect-price{
    color: gray !important;
}
#cart-btn:hover{
    color: rgb(230, 126, 34) !important;
}
#mob-img{
    overflow: hidden;
}
#mob-img:hover img{
    transform: scale(1.2);
    transition: 1s;
}
#accessories img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
#mobiles img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
#mens img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
#womens img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
#sec-title{
    text-align: center;
    position: relative;
}
#sec-title::after{
    content: '';
    background: rgb(230, 126, 34);
    width: 100px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 35vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    transition: 0.5s;
    overflow-x: hidden;
}
.cart-active{
    right: 0;
}
.cart-title{
    text-align: center;
}
.cart-remove{
    position: absolute;
    font-size: 25px;
    top: 13px;
    right: 18px;
    cursor: pointer;
}
.cart-qty{
    width: 40px;
    outline: none;
    text-align: center;
}
hr,.cart-box hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cart-prodect-title{
    font-weight: bold;
}
.text-white{
    text-align: center;
}
.bg-dark a:hover{
    color: rgb(230, 126, 34) !important;
}
.cart-img{
    margin-left: 25px;
}
#form-title{
    text-align: center;
}
#form-btn{
    text-align: center;
}

@media (max-width:767px) {
    #main{
        position: relative;
    }
    #cart{
        position: absolute;
        top: 8px;
        right: 80px;
    }
    .cart{
        width: 50vw;
    }
    .cart-img{
        margin-left:0;
    }
}

@media (max-width:992px){
    .cart-img{
        margin-left: 12px;
    }
}